<div class="gf-form-group">
  <div>
    <div class="gf-form gf-form--grow">
      <label class="gf-form-label query-keyword fix-query-keyword width-8"
        >Query</label
      >
      <input
        type="text"
        class="gf-form-input custom-query width-auto"
        ng-model="ctrl.annotation.query"
        ng-blur="ctrl.onBlur()"
        placeholder=""
      />
      <info-popover
        mode="right-absolute"
        ng-click="showHelpQuery = !showHelpQuery"
        >Click for help</info-popover
      >
    </div>
    <div class="gf-form--grow">
      <pre class="gf-formatted-error" ng-if="ctrl.annotation.error">{{ ctrl.annotation.error }}</pre>
    </div>
    <div class="gf-form--grow" ng-show="showHelpQuery">
      <pre>
Annotation query uses the <a class="query-keyword" href="https://docs.cognite.com/api/v1/#operation/advancedListEvents" target="_blank">events/list</a> endpoint to fetch data. Use <code class="query-keyword">'='</code> operator to provide parameters for the request.
  Format: <code class="query-keyword">events{param=number, ...}</code>
  Example: <code class="query-keyword">events{externalIdPrefix='PT', type='WORKORDER', assetSubtreeIds=[{id=12}, {externalId='external'}]}</code>
  You can specify additional client-side filtering with the <code class="query-keyword">'=~'</code>, <code class="query-keyword">'!~'</code> and <code class="query-keyword">'!='</code> operators. Comma between multiple filters acts as logic <code class="query-keyword">AND</code>
  Format:
    <code class="query-keyword">'=~'</code> – regex equality, returns results satisfying the regular expression.
    <code class="query-keyword">'!~'</code> – regex inequality, excludes results satisfying the regular expression.
    <code class="query-keyword">'!='</code> – strict inequality, returns items where a property doesn&apos;t equal a given value.
  Example: <code class="query-keyword">events{type='WORKORDER', subtype=~'SUB.*'}</code>
  Templating is available by using the <code class="query-keyword">$variable</code> syntax.
  Example: <code class="query-keyword">events{type='WORKORDER', subtype=$variable}</code>.
  To learn more about the querying capabilities of Cognite Data Source for Grafana, please visit our <a class="query-keyword" href="https://docs.cognite.com/cdf/dashboards/guides/grafana/getting_started.html">documentation</a>.
      </pre>
    </div>
  </div>
</div>
