<div class="gf-form-group">
  <div>
    <div class="gf-form gf-form--grow">
      <label class="gf-form-label query-keyword fix-query-keyword width-8"
        >Query</label
      >
      <input
        type="text"
        class="gf-form-input custom-query width-auto"
        ng-model="ctrl.annotation.query"
        ng-blur="ctrl.onBlur()"
        placeholder=""
      />
      <info-popover
        mode="right-absolute"
        ng-click="showHelpQuery = !showHelpQuery"
        >Click for help</info-popover
      >
    </div>
    <div class="gf-form--grow">
      <pre class="gf-formatted-error" ng-if="ctrl.annotation.error">{{ ctrl.annotation.error }}</pre>
    </div>
    <div class="gf-form--grow" ng-show="showHelpQuery">
      <pre>{{ ctrl.help }}</pre>
    </div>
  </div>
</div>
