<h3 class="page-heading">Authentication</h3>

<div class="gf-form-group">
  <div class="gf-form-inline">
    <div class="gf-form">
      <span class="gf-form-label width-9">Project</span>
      <input
        type="text"
        class="gf-form-input"
        ng-model="ctrl.current.jsonData.cogniteProject"
        placeholder="Cognite Data Platform project"
      />
      <info-popover mode="right-absolute">
        <p>Cognite Data Platform project name.</p>
      </info-popover>
    </div>
  </div>
  <div class="gf-form-inline">
    <div class="gf-form" ng-if="!ctrl.current.secureJsonFields.cogniteDataPlatformApiKey">
      <span class="gf-form-label width-9">API key</span>
      <input
        type="password"
        class="gf-form-input"
        ng-model="ctrl.current.secureJsonData.cogniteDataPlatformApiKey"
        placeholder="Cognite Data Platform API key"
      />
      <info-popover mode="right-absolute">
        <p>Cognite Data Platform API key.</p>
      </info-popover>
    </div>
    <div class="gf-form" ng-if="ctrl.current.secureJsonFields.cogniteDataPlatformApiKey">
      <span class="gf-form-label width-9">API key</span>
      <input
        type="text"
        class="gf-form-input max-width-12"
        disabled="disabled"
        value="Configured"
      />
      <a
        class="btn btn-secondary gf-form-btn"
        href="#"
        ng-click="ctrl.current.secureJsonData.cogniteDataPlatformApiKey = undefined; ctrl.current.secureJsonFields.cogniteDataPlatformApiKey = false;"
      >
        Reset
      </a>
    </div>
  </div>
</div>
