<query-editor-row query-ctrl="ctrl" can-collapse="false">
  <div class="gf-form-group">
    <div class="gf-form-inline">
      <div class="gf-form">
        <gf-form-dropdown model="ctrl.target.target"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.getOptions($query)"
          on-change="ctrl.onChangeInternal()">
        </gf-form-dropdown>
      </div>
      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>
  </div>
</query-editor-row>
