pre.gf-formatted-error,
pre.gf-formatted-warning {
  background: transparent;
  border: none;
  padding-bottom: 0;
  color: #ff6060;
}

pre.gf-formatted-warning,
span.gf-formatted-warning {
  color: #f79520;
}

.alert-warning {
  background-image: linear-gradient(90deg, rgb(235, 123, 24), rgb(235, 123, 24));
}
