pre.gf-formatted-error,
pre.gf-formatted-warning {
  background: transparent;
  border: none;
  padding-bottom: 0;
  color: #ff6060;
}

pre.gf-formatted-warning, span.gf-formatted-warning {
  color: #f79520;
}
